<p>loans-types works!</p>
<form [formGroup]="addLoanTypesForm">
    <div class="form-group">
        <label>
            LoanName:
        </label>
        <input type="text" formControlName="LoanName">
    </div>
    <br>
    <div class="form-group">
        <label>
            LoanType:
        </label>
        <input type="text" formControlName="LoanType">
    </div>
    <br />
    <div class="form-group">
        <label>
            LoanDescription:
        </label>
        <textarea formControlName="LoanDescription"></textarea>
    </div>
    <br />
    <button (click)="addLoanType()">Add LoanType</button>
</form>