.c1 {
    background-color: aqua;
    text-align: center;
    text-decoration: none;
}

li {
    color: blue;

}

.c2 {
    color: blue;
    font-size: 15px;
}

.c3 {
    background-color: darksalmon;
    color: #222;
}

.c4 {
    background-color: chocolate;
    color: #fff;
}

.c5 {
    background-color: darkgreen;
    color: #fff;
}