<h1 class="c1">{{title}}</h1>

<p>To create componant we can you following command
  Angular Material has standard CSS.
  The new version of UI Components which are buttons, checkboxes, and text fieldsis used to follow Angular Material
  Design concepts.
  It has specialized features such as cards, toolbar, speed dial, side nav, swipe, side nav, and more.</p>
<ol>
  <li>
    ng generate componant test
  </li>
  <li>
    component
  </li>
  <li>
    modules
  </li>


</ol>




<router-outlet></router-outlet>